@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, Welcome to The Scheduler.</h1>
    <p class="lead">Book, Manage and Monitor Your Appointments with few Clicks and Clearity.</p>

    <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <div class="text-center">
      <p class="lead">
    

    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="BookedAppointments" asp-action="Create">Start Booking</a>

  </p>

  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>
  </div>
  
  </div>

</div>
